/build
/build-*
/cmake-build-*
/local
compile_commands.json

/.idea
/.vscode

# Manual
*.aux
*.idx
*.log
*.pdf
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.out

# Flakes and direnv
.direnv
.envrc

# Visual Studio
.vs/
/CMakeSettings.json
/out

#Python
__pycache__
