.config
.scripts
config.log
config.status
autom4te.cache
makefile

base/.depend
base/Makefile
base/tests/Makefile

dbm/.depend
dbm/Makefile
dbm/tests/Makefile

debug/.depend
debug/Makefile
debug/tests/Makefile

hash/.depend
hash/Makefile
hash/tests/Makefile

io/.depend
io/Makefile
io/tests/Makefile


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
